// Import theming functions
@import '~@angular/material/theming';

:host {
  padding-left: 4px;
  margin-bottom: 2px;

  &:not(:last-child) {
    padding-right: 4px;
    border-right: 1px solid mat-color($mat-gray, 300);
  }
}
