<div class="iget-editor"
     tabindex="0"
     [style.width]="config['width']"
     [style.minWidth]="config['minWidth']"
     (focus)="onEditorFocus()">

  <!-- text area -->
  <div class="iget-editor-wrapper" #igetEditorWrapper>
    <div class="iget-editor-textarea" [class.show-placeholder]="showPlaceholder" [attr.contenteditable]="config.editable" (input)="onContentChange($event)"
      [attr.translate]="config['translate']" [attr.spellcheck]="config.spellcheck" [style.height]="config.height"
      [style.minHeight]="config['minHeight']" [style.resize]="'none'" (focus)="onTextAreaFocus()"
      (blur)="onTextAreaBlur()" [innerHTML]="value" #igetEditorTextArea></div>

    <span class="iget-editor-placeholder">{{ config.placeholder }}</span>
  </div>

  <iget-editor-toolbar
      [config]="config.toolbar"
      (execute)="executeCommand($event)">
  </iget-editor-toolbar>

  <iget-editor-message></iget-editor-message>
  <iget-editor-grippie (resize)="resizeTextArea($event)"></iget-editor-grippie>
</div>
