// Import theming functions
@import '~@angular/material/theming';

.iget-editor {
  position: relative;
  border: 1px solid mat-color($mat-gray, 300);

  ::ng-deep [contenteditable="true"]:empty:before {
    content: attr(placeholder);
    display: block; // for firefox
    color: #868e96;
    opacity: 1;
  }

  .iget-editor-wrapper {
    position: relative;

    .iget-editor-textarea {
      min-height: 5rem;
      padding: 0.5rem 0.8rem 1rem 0.8rem;
      background-color: transparent;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 2;
      position: relative;

      &:focus,
      &.focus {
        outline: 0;
      }

      ::ng-deep blockquote {
        margin-left: 1rem;
        border-left: 0.2em solid #dfe2e5;
        padding-left: 0.5rem;
      }
    }

    ::ng-deep p {
      margin-bottom: 0;
    }

    .iget-editor-placeholder {
      display: none;
      position: absolute;
      top: 0;
      padding: 0.5rem 0.8rem 1rem 0.9rem;
      z-index: 1;
      color: #6c757d;
      opacity: 1;
    }

    &.show-placeholder {
      .iget-editor-placeholder {
        display: block;
      }
    }
  }

  iget-editor-toolbar {
    margin: 1rem;
  }
}
